@use "sass:color";

// Переменные
$red-color: #E81922;
$white-color: #FFFFFF;

.notificationBadge {
  background: $red-color;
  color: $white-color;
  border-radius: 10px;
  min-width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0 6px;
  box-sizing: border-box;
  line-height: 1;
  flex-shrink: 0;
  white-space: nowrap;
}

